.remoteApp{
    padding: 30px;
    background-color: #d1d5dc;
    font-weight: 600;
}
.remoteApp .heading{
    margin-bottom: 30px;
}
.remoteApp .itemsInfo, .price{
    display: flex;
    justify-content: space-between;
}
.remoteApp .selectbox{
    width: 100%;
    margin: 30px 0;
}